*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

body{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-wrap: nowrap;
}

.pantalla{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 812px;
    width: 375px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.pantalla h3{
    font-size: xx-large;
    color: white;
    align-self: flex-start;
    margin: 0 0 8px 25px;
}

#opciones{
    align-self: flex-end;
    margin: 20px;
    border-radius: 50px;
    cursor: pointer;
    color: #FF9800;
    background-color: black;
    border: 1px solid #FF9800;
}

.pantalla input{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 85%;
    height: 20px;
    border-radius: 7px;
    padding: 2px;
    margin-bottom: 30px;
    background-color: #1C1C1E;
    border: none;
    padding: 8px;
    color: white;
    outline: none;
    caret-color: #FF9800;
}

.pantalla input::selection{
    background-color: rgba(255, 152, 0, 0.3);
    color: white; /* Color del texto seleccionado */
}

#notas{
    overflow-y: auto;
    background-color: #1C1C1E;
    color: white;
    width: 89%;
    height: 80%;
    border-radius: 7px;
    text-align: left;
    border: none;
}

#notas::-webkit-scrollbar {
    width: 0; /* Oculta el scroll por defecto en Chrome, Safari, Edge */
}

#notas.scrolling::-webkit-scrollbar {
    width: 8px; /* Muestra el scroll mientras se scrollea */
}

#notas.scrolling::-webkit-scrollbar-track {
    background: #1c1c1e;
    border-radius: 10px;
}

#notas.scrolling::-webkit-scrollbar-thumb {
    background-color: #636366;
    border-radius: 10px;
    border: 2px solid #1c1c1e;
}

#notas.scrolling::-webkit-scrollbar-thumb:hover {
    background-color: #8e8e93;
}

.nota{
    background-color: #1C1C1E;
    color: white;
    width: 100%;
    height: 70px;
    border-radius: 7px;
    text-align: left;
    border: none;
    cursor: pointer;
}

.nota ul{
    font-weight: bold;
    list-style: none;
    height: 80%;
}

.nota ul li:nth-child(2){
    margin-right: 5px;
    color: #BDBDBD;
    font-weight: 100;
}

.linea-separacion {
    height: 1px; /* Altura de la línea */
    background-color: #2C2C2E; /* Color de la línea */
    margin: 10px 0; /* Espaciado arriba y abajo */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 30, 0.7); /* Fondo negro con opacidad 0.7 */
    width: 100%;
    height: 80px;
    border-radius: 0 0 40px 40px;
    backdrop-filter: blur(5px); /* Aplica un desenfoque al fondo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
    margin-top: 10px;
}

.footer p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-weight: 100;
    width: 85%;
}

.headerP1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerP1 p{
    font-weight: 500;
}

.bi-plus-circle{
    background-color: #1C1C1E;
    color:#FF9800;
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
    border: none;
}

.headerP1 .bi-three-dots{
    font-weight: 600;
    align-self: flex-end;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #FF9800;
    background-color: rgba(28, 28, 30, 0.8);
    border: 3px solid #FF9800;
    padding: 0px 3px 1px 3px;
}

.search-container {
    position: relative; /* Posiciona el contenedor relativamente */
    width: 87%; /* Ancho del contenedor, ajústalo según necesites */
}

.search-container i {
    margin-left: 0;
    color: #888;
    position: absolute; /* Posiciona el icono absolutamente */
    left: 10px; /* Espacio desde la izquierda */
    top: 27%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la alineación */
}

.search-container input {
    padding-left: 40px; /* Añade padding a la izquierda para hacer espacio para el icono */
    width: 87%; /* Asegura que el input ocupe todo el ancho del contenedor */
    height: 15px; /* Ajusta la altura según necesites */
    border-radius: 4px; /* Bordes redondeados opcionales */
}



/*PANTALLA 2 */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pantalla header *{
    align-items: flex-end;
    font-size: medium;
    margin: 10px;
    background-color: black;
    color: #FF9800;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 40px;
    border-radius: 40px;
}


.pantalla header button.btnListo{
    font-weight: 600;
}

.pantalla textarea{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 90%;
    background-color: black;
    padding: 8px;
    color: white;
    caret-color: #FF9800;
    border: none;
    outline: none;
    overflow-x: hidden;
    resize: none;
    border-radius: 29px;
}

.pantalla textarea::selection{
    background-color: rgba(255, 152, 0, 0.3);
    color: white; /* Color del texto seleccionado */
}

#titulo{
    font-size: x-large;
    font-weight: 600;
}

#cuerpo{
    font-size: medium;
    font-weight: 300;
    height: 100%;
}

#btnListo{
    font-weight: 600;
} 


/* DISEÑO MENU OPCIONES */
.menu-opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 30, 0.8); /* Color translúcido */
    position: absolute;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    z-index: 1000;
    left: 900px;
    top: 57px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    opacity: 0; /* Opacidad inicial */
    transform: translateY(-10px); /* Desplazamiento hacia arriba */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

#eliminarNota {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent; /* Fondo transparente para que el color de fondo del menú se vea */
    margin-top: 10px;
}

.menu-opciones.show {
    display: block; /* Cambia a block para que sea visible */
    opacity: 1; /* Opacidad completa */
    transform: translateY(0); /* Restablece el desplazamiento */
}

.boton-circular{
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    border: none;
    border-color: grey;
    background-color: #1C1C1E;
}

.boton-circular.selected{
    background-color: #3C3C3E; /* Color de fondo cuando está seleccionado */
    transform: scale(1.05); /* Aumenta un poco el tamaño cuando está seleccionado */
}

